<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h2 style="text-align:center;">Users</h2>
    <ul id="users"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
      $(function () {
        var socket = io();

        socket.on('data-list', function(msg){
          $('#users').html('');
          console.log(msg);
          $('#users').append($('<li>').text(`user: ${elem.name} ${elem.mac} ${elem.signal}`));
        });
      });
    </script>
  </body>
</html>
